.album-detail-wrapper {
    width: calc( 100% - 240px);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    position: fixed;
    will-change: transform;
    opacity: 1;
    background-image: linear-gradient(to right bottom, rgb(15, 94, 138), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    padding-left: 240px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.album-detail-info {
    width: 450px;
    padding: 50px 0px 50px 50px;
}

.album-detail-info h2 {
    color: white;
    font-weight: 600;
    font-size: 25px;
    width: 450px;
    padding: 20px 0px 10px 0px;
}

.album-detail-image {
    background-size: contain;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.album-detail-info .album-artist {
    font-weight: 500;
    font-size: 14px;
    margin-top: 0;
}

.tracklist-container {
    width: 1000px;
    padding: 50px 50px 50px 0px;
    color: white;
    // float: left;
    position: relative;
}

.tracklist-row {
    display: flex;
    height: 60px;
    &:hover {
        .tracklist-icon {
            &::before {
                content: "\f04b";
            }
        }
        .tracklist-music-icon {
            opacity: 1;
        }
        .tracklist-col.add{
            display: block;
        }
        .tracklist-col.remove {
            display: block;
        }
    }
    &.active {
        color: #1ed760
    }
}

.tracklist-row:hover {
    background-color: rgba(0,0,0,.3);
}

.tracklist-col {
    display: block;
    height: 4.56em;
}

.tracklist-col.position-outer {
    letter-spacing: 0;
    width: 3em;
    text-align: right;
    padding-right: 1em;
}

.tracklist-col.name {
    flex: 1;
    width: 0;
    overflow: hidden;
    padding-right: 1px;
    margin-right: -1px;
    text-align: left;
}

.tracklist-top-align {
    margin-top: .7em;
}

.ellipsis-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1px;
    margin-right: -1px;
}

.tracklist-name {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .015em;
    color: #fff;
}

.tracklist-name-wrapper .second-line {
    display: flex;
    align-items: center;
    position: relative;
}

.tracklist-music-icon {
    color: #fff;
    opacity: .6;
}

.tracklist-col-duration {
    text-align: right;
    padding-right: 1em;
    opacity: .6;
    width: 25px;
}

.tracklist-icon {
    &::before {
        content: "\f001";
    }
}

.tracklist-col.add,
.tracklist-col.remove {
    text-align: right;
    padding-right: 1em;
    min-width: 20px;
    display: none;
}

.fa-plus,
.fa-times-circle {
    opacity: .6
}

.fa-plus:hover,
.fa-times-circle:hover {
    opacity: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #282828;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px 0;
    margin: 2px 0 0;
    left: -200px;
    text-align: left;
}

.dropdown-content.active {
    display:block;
}

.dropdown-content button,
.dropdown-content h4 {
    width: 100%;
    padding: 3px 20px;
    clear: both;
    line-height: 32px;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    color: #b3b3b3;
    letter-spacing: .015em;
}

.dropdown-content button {
    text-overflow: ellipsis;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-content h4 {
    margin-bottom: 0px;
}

.dropdown-close {
    position: inherit;
    text-align: right;
}