.library-container,
.artist-index-container,
.artist-detail-container,
.album-index-container,
.song-index-container {
    width: calc( 100% - 240px);
    height: calc( 100% - 91px);
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    position: fixed;
    will-change: transform;
    opacity: 1;
    background-image: linear-gradient(to right bottom, rgb(150, 137, 3), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    padding-left: 230px;
    text-align: center;
    overflow-y: scroll;
}

.artist-index-container,
.album-index-container {
    background-image: linear-gradient(to right bottom, rgb(77, 77, 77), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.artist-detail-container {
    background-image: none;
    background-color: rgb(30, 30, 30);
}
.song-index-container {
    background-image: linear-gradient(to right bottom, rgb(30, 50, 100), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.library-index-header{
    height: 100px;
    padding: 30px 0px 30px 0px;
}

.playlist-btns {
    margin-top: 20px;
    font-size: 10px;
    font-weight: 500;
    padding: 8px 20px;
}

.library-index-nav {
    margin-bottom: 40px;
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.50px;
    font-weight: 600;
    > .nav-item {
        padding-bottom: 5px;
        margin: 0px 20px 0px 20px;
        &.active {
            color: white;
            border-bottom: 2px solid #1DB954;;
        }
    }
}

.library-index-list div{
    color: white;
    margin: 10px 0px 20px 0px;
    width: 200px;
    height: 200px;
}

.artist-index-container > .library-index-header,
.song-index-container > .library-index-header {
    height: 50px;
}

.artist-index-item {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.artist-index-image {
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background-position: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.album-image {
    background-size: contain;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.artist-detail-container h2 {
    font-size: 72px;
    line-height: 82px;
    letter-spacing: -.005em;
    color: #fff;
    text-transform: none;
    font-weight: 700;
    padding-top: 100px;
    position: relative;
}

.artist-detail-container > .library-index-header {
    height: 300px;
    background-size: cover;
}

.artist-detail-gradient {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 361px;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(-30%,transparent),to(#181818));
}

.artist-detail {
    color: white;
}

.artist-albums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 50px 0px 50px;
}

.artist-detail h3 {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -.005em;
}

.artist-albums li {
    padding: 10px;
}


.album-title {
    padding: 10px 0px 10px 0px;
    width: 150px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .015em;
}

.album-index-container .album-title {
    color: white;
}

.album-artist {
    color: #b3b3b3;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .015em;
}

.album-artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.song-index-container .tracklist-container {
    margin: 0 auto;
}