.library-container {
    width: calc( 100% - 240px);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    position: fixed;
    will-change: transform;
    opacity: 1;
    background-image: linear-gradient(to right bottom, rgb(150, 137, 3), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
    padding-left: 240px;
    text-align: center;
    overflow-y: scroll;
}

.library-index-header{
    height: 100px;
    padding: 30px 0px 30px 0px;
}

.playlist-btns {
    margin-top: 20px;
    font-size: 10px;
    font-weight: 500;
    padding: 8px 20px;
}

.library-index-nav {
    margin-bottom: 40px;
    color: #b3b3b3;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.50px;
    font-weight: 600;
    > .nav-item {
        padding-bottom: 5px;
        margin: 0px 20px 0px 20px;
        &.active {
            color: white;
            border-bottom: 2px solid #1DB954;;
        }
    }
}

.library-index-list div {
    color: white;
    margin: 10px 0px 20px 0px;
    width: 150px;
}