.playlist-modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 104;
}

.playlist-form-wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.playlist-close-wrapper {
    height: 70px;
    width: 50px;
    text-align: center;
}

.playlist-close {
    color: white;
    font-size: 50px;
}

.playlist-close:hover {
    color: white;
    font-size: 55px;
}

.playlist-form-wrapper h1 {
    font-size: 48px;
    color: white;
    letter-spacing: -.005em;
    font-weight: 600;
    padding: 20px;
}

.playlist-input-form-wrapper {
    width: 100%;
    padding: 0 20%;
    background-color: #282828;
}

.input-box {
    position: relative;
    background-color: #282828;
    padding: 20px 0;
}

.content-spacing {
    margin: 0 auto;
    max-width: 1480px;
}

.inputBox-label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-bold);
    color: #fff;
    text-transform: none;
    margin-bottom: .5em;
    padding-left: 35px;
}

.inputBox-input {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    caret-color: #1db954;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: none;
}

.new-playlist-form {
    width: 100%;
}

.create-playlist-btns {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.create-btn {
    margin: 0 auto;
    font-weight: 500;
}